<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/create.css">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Charis+SIL&family=Lato:ital,wght@1,900&family=Open+Sans&family=Overpass:ital,wght@0,600;1,500&family=Playfair+Display&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Charis+SIL&family=Lato:ital,wght@1,900&family=Open+Sans&family=Overpass:ital,wght@0,600;1,500&family=Playfair+Display&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <title>Create</title>
</head>
<body>
    <div class="container">
        <form class="form" action="">
            <label for="" id = "Create">
                Create Students
            </label>
            <input type="text" name="" class="student" placeholder="Name">
            <input type="text" name="" class="student" placeholder="Last name">
            <input type="text" name="" class="student" placeholder="Tuition">
            <input id="Create-button" type="submit" value="Create">
        </form>
        <button class="goBackBT"><a href="/home">Go Back</a></button>
    </div>

    <script src="/scripts/create.js"></script>
</body>
</html>