<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Charis+SIL&family=Lato:ital,wght@1,900&family=Open+Sans&family=Overpass:ital,wght@0,600;1,500&family=Playfair+Display&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="father">

        <Header class="header-Nav">
            <nav>
                <ul class="Nav-ul">
                    <li class="ul-li"><a class="li-a" href="/Home">Home</a></li>
                    <li class="ul-li"><a class="li-a" href="/Create">Create</a></li>
                </ul>
                <ul class="ul-login">
                    <li class="ul-li"><a class="li-a" id = "login" href="/Login">Login</a></li>
                </ul>
            </nav>
        </Header>
    
        <div class="container">
            
            <div class="students">
                <nav class="Nav-students">
                    <ul class="search-button">
                        <li class="li-students">
                            <label for="input" class="label-students">
                                Schools
                                <input type="text" class="input" placeholder="Search schools">
                            </label>
                        </li>
                    </ul>
                    <ul class="ul-students">
                        <li class="li-students"><a class="li-a-students" href="/students">New students</a></li>
                        <li class="li-students"><a class="li-a-students" href="">Best students</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>
    
        <footer class="footer">
    
            <div class="footer-div"></div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="/scripts/fetchData.js"></script>
    <script src="/scripts/fetchQueries.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>