<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Document</title>
</head>
<body>

    <Header>
        <nav class="header-Nav">
            <ul class="Nav-ul">
                <li class="ul-li"><a class="li-a" href="../views/Home.html">Home</a></li>
                <li class="ul-li"><a class="li-a" href="../views/Login.html">Login</a></li>
                <li class="ul-li"><a class="li-a" href="../views/Create.html">Register</a></li>
            </ul>
        </nav>
    </Header>

    <div class="container">
        
        <div class="relleno"></div>
        <div class="relleno"></div>
        <div class="relleno"></div>
        <div class="relleno"></div>

    </div>

    <footer class="footer">
        <div class="footer-div"></div>
    </footer>

    <script src="./scripts/main.js"></script>

</body>
</html>