<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/school-1/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Charis+SIL&family=Lato:ital,wght@1,900&family=Open+Sans&family=Overpass:ital,wght@0,600;1,500&family=Playfair+Display&family=Roboto+Slab:wght@600;700&display=swap"
    rel="stylesheet"
    >
    <title>Login Page</title>
</head>
<body>
     
    <div class="container">
        <h1 id = "h1">School</h1>
        <button id = 'button'><a href="./Home.html">Back button</a></button>
        <form class="form" action="">
            <label  for="login" class="label-login">Login</label>
            <input required type="text" name="" id="text" placeholder="Type user">
            <input required type="password" name="" id="password" placeholder="Type password">
            <input type="submit" value="Enviar">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="../../public/scripts/school-1/login.js"></script>
</body>
</html>