*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    height: 100vh;
    background: #8cf;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%,  rgb(247, 247, 247) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: 100%;
}

.form {
    display: flex;
    border-radius: 2px;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background: #17f;
    box-shadow: 0px 0px 5px #555555;
}

.form input {
    outline: none;
    margin: 15px;
    font-size: 15px;
    height: 30px;
    border: none;
    font-family: 'Roboto Slab', serif;

}

#button {
    margin: 10px;
    padding: 10px;
    background: #fff;
}

#button a {
    text-decoration: none;
    color: #777;
    font-weight:600
}

.label-login {
    padding-bottom: 20px;
    border: 5px;
    color: #fff;
    text-shadow: 2px 2px 3px #555;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.form input::placeholder {
    color: #000;
    padding-left: 5px;
    font-size: 15px;
}

#h1 {
    color: #17e;
    text-shadow: -2px -2px 5px #333;
    font-size: 80px;
    align-self: center;
    height: 25%;     
}